{% extends "layout_dashboard.html" %}
{% import "_components/table_macros.html" as tables %}
{% block title %}Device Details{% endblock %}
{% block content %}

    <div class="card shadow mb-3 p-3">
    <form class="row g-3 needs-validation" novalidate>
        <div class="col-md-6 position-relative">
        <label for="validationTooltip01" class="form-label">Da:</label>
        <input type="datetime-local" class="form-control" id="validationTooltip01" required>
        <div class="valid-tooltip">
            Looks good!
        </div>
        </div>
        <div class="col-md-6 position-relative">
        <label for="validationTooltip02" class="form-label">A:</label>
        <input type="datetime-local" class="form-control" id="validationTooltip02" required>
        <div class="valid-tooltip">
            Looks good!
        </div>
        </div>
        <div class="col-md-12 position-relative">
        <button class="btn btn-primary" type="submit">Invia</button>
        </div>
    </form>
    </div>

    <!-- Table Storico Dati Sensori -->
    <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Storico Dati Moduli Periferici</h6>
    </div>
    <div class="card-body">
        {{ tables.render_table(  [
                                ('detected_at', 'Data Rilevazione'),
                                ('sensor_id', 'Modulo'),
                                ('temperature', 'Temperatura (°C)'),
                                ('humidity', 'Umidità (%)'),
                                ('gas', 'Gas (ppm)'),
                                ('danger_value', 'Danger Value')
                            ], sensors_rows, table_id="sensors-table") }}
    </div>
    </div>

    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/sensors.js') }}"></script>
{% endblock %}