{% extends "layout_dashboard.html" %}
{% import "_components/table_macros.html" as tables %}
{% block title %}Device Details{% endblock %}
{% block content %}

    <div class="card shadow mb-3 p-3">
      <form class="row g-3" id="filterForm">
        <div class="col-md-6">
          <label for="startDate" class="form-label">Da:</label>
          <input type="datetime-local" class="form-control" id="startDate" name="start_date">
        </div>
        <div class="col-md-6">
          <label for="endDate" class="form-label">A:</label>
          <input type="datetime-local" class="form-control" id="endDate" name="end_date">
        </div>
        <div class="col-md-12">
          <button class="btn btn-primary" type="submit">Filtra</button>
        </div>
      </form>
    </div>

    <!-- Table Storico Dati Sensori -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Storico Dati Moduli Periferici</h6>
        </div>
        <div class="card-body">
            {{ tables.render_table(  [
                                    ('detected_at', 'Data Rilevazione'),
                                    ('sensor_id', 'Modulo'),
                                    ('temperature', 'Temperatura (°C)'),
                                    ('humidity', 'Umidità (%)'),
                                    ('gas', 'Gas (ppm)'),
                                    ('danger_value', 'Danger Value')
                                ], sensors_rows, table_id="sensors-table") }}
        </div>
    </div>



    
<div class="row">
  <div class="col-md-6">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Temperatura Media</h6>
      </div>
      <div class="chart-container" style="position: relative; height: 300px;">
        <canvas id="chartTemp"></canvas>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Umidità Media</h6>
      </div>
      <div class="card-body">
        <div class="chart-container" style="position: relative; height: 300px;">
          <canvas id="chartUmi"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Gas Media</h6>
      </div>
      <div class="card-body">
        <div class="chart-container" style="position: relative; height: 300px;">
          <canvas id="chartGas"></canvas>
        </div>
      </div>
    </div>
  </div>

</div>
    



    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/sensors.js') }}"></script>
{% endblock %}